@model Hadith.Models.FullHadith

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FullHadith</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HadithWithArab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HadithWithArab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaddithWithoutArab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaddithWithoutArab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NarratorsWithArab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NarratorsWithArab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NarratorsWithoutArab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NarratorsWithoutArab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NarratorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NarratorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InHID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InHID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.upsize_ts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.upsize_ts)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
